@page :first {
  margin-left: 8%;
  margin-right: 8%;
  @top-center {
    content: string(top-center, first)'\A'string(top-center2, first);
    white-space: pre;
    text-align: right;
  }
  @bottom-left {
    content: string(bottom-left, first);
    vertical-align: middle;
    text-align: left;
    white-space: pre;
    border-left: none;
  }
  @bottom-center {
    content: string(bottom-center, first);
    vertical-align: middle;
    text-align: center;
    white-space: pre;
  }
  @bottom-right {
    content: string(bottom-right, first);
    vertical-align: middle;
    text-align: right;
    white-space: pre;
    border-right: none;
  }
}