@charset "UTF-8";
/* -------------------- */
/* Root settings        */
/* -------------------- */
:root {
  font-family: "游明朝", "YuMincho", serif;
  font-weight: 400;
  font-feature-settings: "palt", "calt";
  line-height: 1.7;

  /* variables (only for html. not supported by vivliostyle.js v2.8 #540) */
  --menu-width: 350px;
  --content-width: 1000px;
}

/* -------------------- */
/* Header               */
/* -------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-weight: 900;
  font-feature-settings: "palt", "calt";
}
h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #fafafa;
  background: #333;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
  border-bottom: solid #333;
  border-width: 1px;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.2;
}
h4 {
  margin-top: 1.2rem;
  margin-bottom: 0rem;
  font-size: 1.3rem;
}
h5 {
  margin-top: 0.4rem;
  margin-bottom: 0rem;
  font-size: 1rem;
}
h6 {
  margin-top: 0.2rem;
  margin-bottom: 0rem;
  font-size: 0.85rem;
}
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
  display: inline;
  color: #e8e8e8;
}
.header-anchor {
  display: none;
}

/* -------------------- */
/* text                 */
/* -------------------- */
a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #9b59b6;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-feature-settings: "palt", "calt";
  text-align: left;
}

pre {
  margin: 0.8rem 0;
  padding: 1em 2em;
  background-color: #eee;
  box-decoration-break: clone;
  font-family: "Consolas", "メイリオ", "Meiryo", "MS Gothic", monospace,
    sans-serif;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.4;
}

ul,
ol {
  padding-inline-start: 1.5em;
}

nav ol {
  list-style-type: none;
}

/* -------------------- */
/* figure               */
/* -------------------- */
figure {
  margin: 1.5rem auto;
  text-align: center;
}

figure img {
  max-width: 100%;
  margin: 0.5rem auto;
}

figure figcaption {
  margin: 0.5rem auto;
  width: 90%;
  font-size: 90%;
  break-inside: avoid;
}

figure img[src$=".png"],
figure img[src$=".jpg"],
figure img[src$=".jpeg"],
figure img[src$=".gif"],
figure img[src$=".webp"] {
  image-resolution: 200dpi;
}

img {
  max-width: 100%;
}

/* -------------------- */
/* table                */
/* -------------------- */
table {
  display: table;
  min-width: 50%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
}
td,
th {
  font-size: 0.8rem;
  padding: 0.4rem;
}
th {
  background: #ccc;
  border-bottom: solid 1px #777;
}
table tr:nth-child(even) {
  background: #eee;
}

/* -------------------- */
/* quote                */
/* -------------------- */
blockquote {
  background-color: #f6f6f6;
  margin: 1.5rem 0.5rem;
  padding: 0.5rem 1rem;
  border-left: 6px solid #ccc;
  font-style: italic;
}

blockquote :not(pre) > code {
  padding: 0;
  word-break: break-all;
}

/* -------------------- */
/* pre/code             */
/* -------------------- */
/* inline code */
:not(pre) > code {
  font-family: "Consolas", "メイリオ", "Meiryo", "MS Gothic", monospace,
    sans-serif;
  padding: 2pt;
  margin-top: 20pt;
  background-color: #eee;
  font-size: 1rem;
  white-space: pre-wrap;
}
/* code block */
pre code {
  font-family: "Consolas", "メイリオ", "Meiryo", "MS Gothic", monospace,
    sans-serif;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 0.5;
}

/* -------------------- */
/* note                 */
/* -------------------- */
div.note {
  margin-top: 20pt;
  margin-bottom: 20pt;
  break-inside: avoid-page;
}
div.note_content {
  margin: 0pt;
  padding-top: 4pt;
  padding-left: 12pt;
  padding-right: 12pt;
  padding-bottom: 5pt;
  display: block;
  background: #eee;
  break-inside: avoid-page;
  break-before: avoid-page;
}
div.note_title {
  margin: 0pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  padding-left: 10pt;
  padding-right: 10pt;
  background: #bbb;
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  break-after: avoid-page;
}
div.note li p {
  margin: 0pt;
}

/* -------------------- */
/* styling              */
/* -------------------- */
body {
  counter-reset: section subsection fig tbl footnote cite;
}

/* Section */
section {
  counter-increment: section;
  counter-reset: subsection;
}

section article {
  counter-increment: subsection;
}

/* toc part */
a.doc-part {
  font-weight: 900;
  font-size: 1.7rem;
}

/* figure */
figure img.fig {
  counter-increment: fig;
}

figure img.fig ~ figcaption::before {
  content: "Fig. " counter(fig) ": ";
}

:root:lang(ja) figure img.fig ~ figcaption::before {
  content: "図" counter(fig) ": ";
}

/* footnote */
.footnote {
  counter-increment: footnote;
}

.footnote::footnote-call,
.footnote::footnote-marker {
  content: "[" counter(footnote) "]";
}

.footnote::footnote-call {
  font-size: 80%;
  margin: 0 0.3rem;
}

.footnote::footnote-marker {
  margin-right: 0.2rem;
}

/* -------------------- */
/* Page settings        */
/* https://www.quackit.com/css/at-rules/css_top-center_at-rule.cfm */
/* -------------------- */
@page {
  font-family: "遊ゴシック", "YuGothic", sans-serif; /* header or footer font */
  size: 182mm 257mm;
  margin-top: 8%;
  margin-bottom: 6%;
  margin-left: 10%;
  margin-right: 10%;
  @top-left-corner {
    /* border-bottom: 1px solid; */
    background-color: #333;
    color: #fafafa;
    content: "";
    margin-bottom: 6mm;
    margin-left: -3mm;
  }
  @top-center {
    content: env(pub-title) " - " env(doc-title);
    font-size: 0.8rem;
    font-weight: 400;
    /* border-bottom: 1px solid; */
    background-color: #333;
    color: #fafafa;
    margin-left: -1mm;
    margin-right: -1mm;
    margin-bottom: 6mm;
    padding-bottom: 2mm;
    padding-left: 2mm;
    padding-right: 2mm;
    text-align: left;
    vertical-align: bottom;
  }
  @top-right-corner {
    /* border-bottom: 1px solid; */
    background-color: #333;
    color: #fafafa;
    content: "";
    margin-bottom: 6mm;
    margin-right: -3mm;
  }
  @bottom-center {
    border-top: 1px;
    border-color: #333;
    content: counter(page);
    font-size: 0.8rem;
  }
  @bottom-left-corner {
    content: "";
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-left: -3mm;
    z-index: 1000;
  }
  @bottom-right-corner {
    content: "";
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-right: -3mm;
    z-index: 1000;
  }
}

/* cover */
div.cover-top-center {
  visibility: hidden;
  string-set: top-center content();
}
div.cover-bottom-left {
  visibility: hidden;
  string-set: bottom-left content();
}
div.cover-bottom-center {
  visibility: hidden;
  string-set: bottom-center content();
}
div.cover-bottom-right {
  visibility: hidden;
  string-set: bottom-right content();
}

@page :first {
  margin-left: 8%;
  margin-right: 8%;
  @top-center {
    font-size: 0.8rem;
    font-weight: 400;
    content: string(top-center, first);
    text-align: right;
  }
  @bottom-left-corner {
    content: none;
  }
  @bottom-left {
    font-size: 0.8rem;
    font-weight: 400;
    content: string(bottom-left, first);
    margin-top: 0mm;
    vertical-align: middle;
    text-align: left;
  }
  @bottom-center {
    font-size: 0.8rem;
    font-weight: 400;
    content: string(bottom-center, first);
    margin-top: 0mm;
    vertical-align: middle;
    text-align: center;
  }
  @bottom-right {
    font-size: 0.8rem;
    font-weight: 400;
    content: string(bottom-right, first);
    margin-top: 0mm;
    vertical-align: middle;
    text-align: right;
  }
  @bottom-right-corner {
    content: none;
  }
}

/* -------------------- */
/* Role settings        */
/* -------------------- */
/* doc-cover */
[role="doc-cover"] {
  break-after: page;
  margin-top: 10%;
  text-align: center;
}

[role="doc-cover"] #cover-title {
  color: #fafafa;
  background-color: #333;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
[role="doc-cover"] h1 {
  font-size: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
[role="doc-cover"] #cover-author {
  text-align: center;
  margin-top: 40%;
}

/* doc-introduction */
[role="doc-introduction"] {
  break-after: page;
}

/* doc-toc */
[role="doc-toc"] {
  margin-top: 10%;
  font-size: 1.2rem;
}
[role="doc-toc"] h2 {
  font-size: 2.5rem;
}
[role="doc-toc"] li a::after {
  content: target-counter(attr(href), page);
}
[role="doc-toc"] li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  align-items: baseline;
}
[role="doc-toc"] li a::before {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: solid 1px;
  content: "";
  order: 1;
  flex: auto;
}
[role="doc-toc"] li a::after {
  text-align: right;
  content: target-counter(attr(href), page);
  align-self: flex-end;
  flex: none;
  order: 2;
}

/* doc-part */
[role="doc-part"] {
  background-color: #333;
  color: #fafafa;
  margin-right: -30%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  margin-top: 40%;
  break-before: right;
}

[role="doc-part"] h1 {
  margin-right: 20%;
  font-size: 3.5rem;
}

[role="doc-part"] p {
  margin-right: 20%;
}

/* doc-chapter */
[role="doc-chapter"] h1.doc-chapter {
  font-size: 3rem;
  background-color: #333;
  color: #fafafa;
  /* padding-top: 2rem; */
  margin-top: -10%;
  padding-top: 4%;
  margin-left: -21%;
  padding-left: 20%;
  margin-right: -21%;
  padding-right: 20%;
  padding-bottom: 2rem;
}

/* doc-endnotes */
[role="doc-endnotes"] {
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}

/* doc-colophon */
#colophon {
  margin-top: 10%;
}
[role="doc-colophon"] {
  position: relative;
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}
[role="doc-colophon"] table {
  margin: 0;
  width: 100%;
  font-size: 100%;
  border-top: 2px solid currentColor;
}
[role="doc-colophon"] table th {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0;
  box-shadow: none;
}
[role="doc-colophon"] table tr {
  border: 0;
  box-shadow: none;
}
[role="doc-colophon"] table tr:last-child {
  border-bottom: 1px solid currentColor;
}
[role="doc-colophon"] table td {
  vertical-align: top;
  padding-left: 0;
}

/* -------------------- */
/* media settings       */
/* -------------------- */
@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 12px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }
  tr,
  th,
  td {
    break-inside: avoid;
  }
  .footnote {
    float: footnote;
    text-align: left;
  }

  #menu {
    display: none;
  }
  #TableOfContents, #TableOfContents-sidebar {
    display: none;
  }
  
  .copy-button {
    display: none;
  }
}

@media screen {
  :root {
    font-family: "游ゴシック", "YuGothic", serif;
    font-size: 1.05rem;
    font-weight: 500;
  }
  body {
    margin: auto 0rem;
    padding-bottom: 4rem;
  }
  article {
    margin: 0 auto;
    max-width: 60rem;
  }
  section {
    clear: both;
  }
  figure {
    max-width: 50rem;
  }
  .footnote {
    vertical-align: super;
    background-color: rgba(214, 255, 0, 0.4);
    margin: 0 0.1rem;
    line-height: 0;
  }
  .footnote a {
    word-break: break-all;
  }
  a[data-ref="sec"],
  a[data-ref="subsec"],
  a[data-ref="fig"],
  a[data-ref="tbl"],
  a[data-ref="cite"] {
    color: #e74c3c;
    background-color: rgba(255, 0, 0, 0.3);
  }
  a[data-ref="sec"]::before {
    content: "§ XXX";
  }
  a[data-ref="subsec"]::before {
    content: "§ XXX.XXX";
  }
  a[data-ref="fig"]::before {
    content: "Fig. XXX";
  }
  :root:lang(ja) a[data-ref="fig"]::before {
    content: "図 XXX";
  }
  a[data-ref="tbl"]::before {
    content: "Table XXX";
  }
  :root:lang(ja) a[data-ref="tbl"]::before {
    content: "表 XXX";
  }
  a[data-ref="cite"]::before {
    content: "[XXX]";
  }

  [role="doc-toc"] {
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.2rem;
  }

  [role="doc-part"] {
    margin: 0 0;
  }
  [role="doc-chapter"] h1.doc-chapter {
    margin: 0 0 0 0;
    padding: 3rem 2rem;
  }

  #content {
    box-sizing: border-box;
    margin-left: var(--menu-width);
    padding: 20px 40px;
    max-width: var(--content-width);
  }
  /* Side Menu */
  #menu {
    box-sizing: border-box;
    top: 0px;
    height: 100%;
    width: var(--menu-width);
    position: fixed;
    overflow: auto;
    color: #fff;
    background: #333;
    padding: 0px 20px;
    margin-left: 0px;
    font-size: 0.9rem;
  }

  #menu a {
    text-decoration: none;
    color: #fafafa;
  }

  #menu a:visited {
    color: #fafafa;
  }

  #menu .menu-selected {
    background-color: #666;
  }

  #menu a:hover {
    text-decoration: underline;
    color: #e74c3c;
    background-color: #444;
  }

  .menu-content ul {
    padding: 0 0 0 1rem;
  }
  .menu-content ul li {
    list-style: none;
  }

  .menu-content li ul {
    margin: 0 0 0 1rem;
    padding: 0;
  }

  .menu-content ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff;
    padding: 3px 0px 3px 0px;
  }

  #menu .logo img {
    max-width: var(--menu-width);
    margin-left: -20px;
  }

  .menu-footer a {
    margin-left: 1rem;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
  }

  .select-language {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    width: 50%;
  }

  .menu-footer-space {
    margin-top: 10rem;
  }

  #TableOfContents,#TableOfContents-sidebar {
    display: none;
  }

  .copy-button {
    color: #bbb;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px 5px 0px 0px;

    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -2px;
    padding: 3px 10px;
    font-size: 0.8em;
  }

  .copy-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
  }

  .copy-button:active {
    cursor: pointer;
    color: #fff;
    background-color: #00387b;
  }

  .copy-button:focus {
    outline: 0;
  }

  .highlight pre {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  pre {
    margin-top: 0;
  }
}

/* --------------- */
/* page toc        */
/* --------------- */
@media screen and (min-width: 1500px) and (orientation: landscape) {
  #TableOfContents {
    display: inline;
    position: fixed;
    top: 50px;
    left: calc(var(--menu-width) + var(--content-width));
    width: calc(98% - var(--menu-width) - var(--content-width));
    font-size: 0.8em;
    border-radius: 0.1em;
    border: solid 1px lightgray;
    background: inherit;
    padding: 0;
  }
  #TableOfContents > ul:before {
    content: "目次";
    font-weight: bolder;
  }
  #TableOfContents h2 {
    background: inherit;
    text-align: inherit;
    border-bottom: 1px #eee solid;
    padding: 10px;
  }
  #TableOfContents ul {
    list-style-type: none;
  }
  #TableOfContents li {
    padding-top: 0;
  }
  #TableOfContents li > ul {
    padding-left: 1em;
  }
  #TableOfContents a {
    font-weight: normal;
    display: block;
    border-bottom: dashed 1px lightgray;
  }
}

/* ----------------------------- */
/* humburger menu (smart device) */
/* ----------------------------- */
@media screen and (max-width: 780px) {
  /* content relocation */
  #content {
    padding: 20px 15px;
    margin-left: 0px;
  }
  #menu {
    height: 0%;
    width: 0%;
  }

  /* humburger buton */
  .humburger-btn {
    position: fixed;
    top: 5px;
    right: 15px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #333;
  }
  .humburger-btn span,
  .humburger-btn span:before,
  .humburger-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .humburger-btn span:before {
    bottom: 8px;
  }
  .humburger-btn span:after {
    top: 8px;
  }

  /* humburger buton check */
  #humburger-btn-check:checked ~ .humburger-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  #humburger-btn-check:checked ~ .humburger-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #humburger-btn-check:checked ~ .humburger-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #humburger-btn-check:checked ~ .menu-content {
    left: 0;
  }

  /* humberger menu contents */
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 10px 10px 0;
    top: 0;
    left: 100%;
    z-index: 80;
    transition: all 0.5s;
    background-color: #333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px 5px 0;
    position: relative;
    border-bottom: dashed 1px gray;
  }
}

#humburger-btn-check {
  display: none;
}

/* ---------------- */
/* page toc sidebar */
/* ---------------- */
@media screen and (min-width: 1500px) and (orientation: landscape) {
  #TableOfContents-sidebar {
    display: inline;
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    left: calc(var(--menu-width) + var(--content-width));
    width: calc(98% - var(--menu-width) - var(--content-width));
    font-size: 0.8em;
    border-radius: 0.1em;
    border: solid 1px lightgray;
    background: inherit;
    padding-right: 10px;
  }
  #TableOfContents-sidebar > ul:before {
    content: "目次";
    font-weight: bolder;
  }
  #TableOfContents-sidebar  h2 {
    background: inherit;
    text-align: inherit;
    border-bottom: 1px #eee solid;
    padding: 10px;
  }
  #TableOfContents-sidebar  ul {
    list-style-type: none;
  }
  #TableOfContents-sidebar li, summary {
    padding-top: 0;
    font-weight: normal;
    border-bottom: dashed 1px lightgray;
  }
  #TableOfContents-sidebar  li > ul {
    padding-left: 1em;
  }
  #TableOfContents-sidebar  details > ul {
    padding-left: 2em;
  }
  #TableOfContents-sidebar summary:hover {
    cursor: pointer;
    background-color: #EFEFEF;
  }
}
