{{- $url := .Destination | safeURL | urls.Parse }}
{{- $querys := split $url.RawQuery "&"}}
{{- $sectionNo := partial "functions/getSectionNoRaw" .Page.Page }}
{{- $delimiter := .Page.Page.Site.Params.sectionDelimiter | default "." }}
{{- if .PlainText }}
<figure>
  <img 
    src="{{ $url.Path }}" 
    alt="{{ .PlainText }}" 
    {{ with .PlainText }} class="fig"{{ end }}
    {{ range $querys }}{{ (printf "%s" .) | safeHTMLAttr }}{{ end }}>
  {{- with .PlainText }}
    <figcaption>
      <span class="fig-number">{{- with $sectionNo}}{{ $sectionNo }}{{ $delimiter }}{{- end }}</span>{{ . }}
    </figcaption>
  {{- end }}
</figure>
{{- else }}
<img src="{{ $url.Path }}" alt="{{ .PlainText }}" {{ range $querys }}{{ (printf "%s" .) | safeHTMLAttr }}{{ end }}>
{{- end }}