{{- $url := .Destination | safeURL | urls.Parse }}
{{- $querys := split $url.RawQuery "&"}}
{{- $ispdf := .Page.Site.Params.isPDF }}
{{- $pdfSize := partial "functions/getRootPDFParam.html" (dict "this" .Page "pdfparam" "pagesize") }}
{{- $maxheight := partial "functions/getPDFContentHeight_mm.html" $pdfSize }}
{{- if .Page.IsSection | and (ne .Page.Site.Params.legacy_index_link true) | and (not $url.IsAbs) }}
  {{- $sectionName := .Page.Section }}
  {{- $path := (printf "%s/%s" $sectionName $url.Path ) | urlize}}
  {{- $url = $path | safeURL | urls.Parse }}
{{- end }}
{{- if .PlainText | findRE "[^\\s]" }}
{{- /* 代替テキストがあるならキャプション表示 */}}
<figure {{ if $ispdf | and (gt $maxheight 0) }}style="max-height: {{ $maxheight}}mm;"{{ end }}>
  <img src="{{ $url }}" alt="{{ .PlainText }}" {{ with .PlainText }} class="fig"{{ end }} {{ range $querys }}{{ (printf "%s " .) | safeHTMLAttr }}{{ end }}>
  {{- with .PlainText }}
    <figcaption>
      <span class="fig-number"></span>{{ . }}
    </figcaption>
  {{- end }}
</figure>
{{- else if .PlainText }}
{{- /* 代替テキストが空白のみなら中央寄せ */}}
<figure {{ if $ispdf | and (gt $maxheight 0) }}style="max-height: {{ $maxheight}}mm;"{{ end }}>
  <img src="{{ $url }}" alt="{{ .PlainText }}" {{ range $querys }}{{ (printf "%s " .) | safeHTMLAttr }}{{ end }}>
</figure>
{{- else }}
{{- /* 代替テキストなしならimgのみ */}}
<img src="{{ $url }}" {{ if $ispdf | and (gt $maxheight 0) }}style="max-height: {{ $maxheight}}mm;"{{ end }} alt="{{ .PlainText }}" {{ range $querys }}{{ (printf "%s " .) | safeHTMLAttr }}{{ end }}>
{{- end }}
