baseURL = ""
themesdir = "../.."
title = "Hugo theme for Vivliosytle-cli."
theme = "hugo-theme-vivliocli"
languageCode = "ja-jp"
DefaultContentLanguage = "jp"
enableInlineShortcodes = true
disablePathToLower= true
enableGitInfo = false
defaultContentLanguageInSubdir= true
hasCJKLanguage = true
uglyurls = true
relativeURLs = true

[params]
    theme_css = ["/css/vivlio-theme-manual.css"]
    isPDF = false
    showIfs = ["@all-pages"]
    sectionNumberLevel = 3
    # sectionDelimiter = "-"
    # sectionTopFormat = "Chapter %s"

[languages]
  [languages.jp]
    htmlLang = "ja"
    languageName = "Japanese"
    contentDir = "content/jp"
    weight = 1
    dateFormat = "2006年01月02日"
  [languages.jp.params]
    sectionTopFormat = "第%s章"
  [languages.en]
    htmlLang = "en"
    languageName = "English"
    contentDir = "content/en"
    weight = 2
    dateFormat = "Jan. 2, 2006"

# goldmark settings
[markup.goldmark.renderer]
  hardWraps = true
  unsafe = true


[mediaTypes]
  [mediaTypes."text/vivlio_config"]
    suffixes = ["vivlio.config.js"]
  [mediaTypes."text/vivlio_cover"]
    suffixes = ["vivlio.cover.html"]
  [mediaTypes."text/vivlio_colophon"]
    suffixes = ["vivlio.colophon.html"]
[outputFormats]
  [outputFormats.VIVLIO_CONFIG]
    isPlainText = true
    mediaType = "text/vivlio_config"
  [outputFormats.VIVLIO_COVER]
    isPlainText = true
    mediaType = "text/vivlio_cover"
  [outputFormats.VIVLIO_COLOPHON]
    isPlainText = true
    mediaType = "text/vivlio_colophon"
