module.exports = {
  title: '{{ .Title }}',
  {{- if .Params.author }}author: '{{ .Params.author }}',{{- end }}
  size: '{{ .Params.pagesize }}',
  entry: [
    `{{ replace .URL "js" "cover.html" }}`,
    {{- define "entry_hierarchy" }}
      {{- range .Pages.ByWeight }}
        '..{{ .RelPermalink | relURL }}',
        {{- if .IsSection }}{{ template "entry_hierarchy" . }}{{ end }}
      {{- end }}
    {{- end }}
    {{ template "entry_hierarchy" .CurrentSection }}
    `{{ replace .URL "js" "colophon.html" }}`
  ],
  output: [
    '{{ .Params.output }}'
  ]
}
