{{- $pdfname := partial "functions/outputEditionParam" (dict "page" . "param" "pdfname" ) }}
module.exports = {
  title: '{{ $pdfname }}',
  {{- if .Params.author }}author: '{{ .Params.author }}',{{- end }}
  size: '{{ .Params.pagesize }}',
  entry: [
    '{{ replace .Params.URL "js" "cover.html" }}',
    {{- define "entry_hierarchy" }}
      {{- range .Pages.ByWeight }}
        {{- if partial "functions/isShow" . }}
          {{- $url := urls.Parse (.RelPermalink | urlize) }}
          {{- $path := $url.Path }}
          {{- $link := printf "..%s" $path }}
    '{{ $link }}',
          {{- if .IsSection }}{{ template "entry_hierarchy" . }}{{ end }}
        {{- end }}
      {{- end }}
    {{- end }}
    {{ template "entry_hierarchy" .CurrentSection }}
    {{- if .Params.colophon }}
    '{{ replace .Params.URL "js" "colophon.html" }}'
    {{- end }}
  ],
  output: [
    '{{ printf "%s.pdf" $pdfname }}'
  ]
}
