@charset "UTF-8";
/* -------------------- */
/* Page settings        */
/* https://www.quackit.com/css/at-rules/css_top-center_at-rule.cfm */
/* -------------------- */
@page {
  @top-center {
    content: '';
  }
  @bottom-center {
    content: '';
  }
}

/* left page */
@page :left {
  margin-left: 9%;
  margin-right: 11%;
  @top-center {
    content: env(pub-title);
    text-align: left;
  }
}

@page :right {
  margin-left: 11%;
  margin-right: 9%;
  @top-center {
    content: env(doc-title);
    text-align: right;
  }
}

@page :blank {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    content: "This page is blank";
    /* contentを縦中央にするためmargin50% */
    margin-top: 50%;
    /* margin-bottom: 88% とし全体の上部6% = 50% * 12% をヘッダー描画域とする  */
    @top-left-corner { margin-bottom: 88%; }
    @top-center { margin-bottom: 88%; }
    @top-right-corner { margin-bottom: 88%; }
}

/* introduction */
div.doc-introduction {
  break-before: right;
}

/* doc-part section title */
div.doc-part {
  break-before: right;
}

/* colophon */
#vivlio-colophon {
  break-before: left;
}
#vivlio-colophon-blank {
  break-before: right;
}

@media print {
  div.doc-part-blank::before {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    content: "This page is blank";
    white-space: pre;
  }
  div.doc-part-blank {
    text-align: center;
    page: blank-part;
  }
}

@page blank-part {
  margin-top: 50%;
  @top-left-corner { margin-bottom: 88%; }
  @top-center { margin-bottom: 88%; }
  @top-right-corner { margin-bottom: 88%; }
}