@charset "UTF-8";
/* -------------------- */
/* Page settings        */
/* https://www.quackit.com/css/at-rules/css_top-center_at-rule.cfm */
/* -------------------- */
@page {
  @top-center {
    content: '';
  }
  @bottom-center {
    content: '';
  }
}

/* left page */
@page :left {
  margin-left: 9%;
  margin-right: 11%;
  @top-center {
    content: env(pub-title);
    text-align: left;
  }
}

@page :right {
  margin-left: 11%;
  margin-right: 9%;
  @top-center {
    content: env(doc-title);
    text-align: right;
  }
}

@page :blank {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  content: "\A\A\A\A\A\A\A\A\A\A\A\A\A\A\AThis page is blank";
  white-space: pre;
}

/* introduction */
div.doc-introduction {
  break-before: right;
}

/* doc-part section title */
div.doc-part {
  break-before: right;
}

/* colophon */
#vivlio-colophon {
  break-before: left;
}
#vivlio-colophon-blank {
  break-before: right;
}

@media print {
  /* doc-part */
  div.doc-part-blank {
    margin-top: 1.2rem;
    text-align: center;
  }

  div.doc-part-blank::before {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    content: "\A\A\A\A\A\A\A\A\A\A\A\A\A\AThis page is blank";
    white-space: pre;
  }
}