@charset "UTF-8";
/* -------------------- */
/* Root settings        */
/* -------------------- */
:root {
  font-family: "游明朝", "YuMincho", serif;
  font-weight: 400;
  font-feature-settings: "palt", "calt";
  line-height: 1.7;
}

/* -------------------- */
/* Header               */
/* -------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-weight: 900;
  font-feature-settings: "palt", "calt";
}
h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #fafafa;
  background: #333333;
}
h2 {
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
  border-bottom: solid #333333;
  border-width: 1px;
}
h3 {
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 1.2;
}
h4 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 1.3rem;
}
h5 {
  margin-top: 0.4rem;
  margin-bottom: 0rem;
  font-size: 1rem;
}
h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.85rem;
}

/* -------------------- */
/* text                 */
/* -------------------- */
a {
  text-decoration: none;
  color: #3498db;
}

a:visited {
  color: #9b59b6;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-feature-settings: "palt", "calt";
  text-align: left;
}

pre {
  margin: 1.5rem 0;
  padding: 1em 2em;
  background-color: #eee;
  box-decoration-break: clone;
}

ul,
ol {
  padding-inline-start: 1.5em;
}

/* -------------------- */
/* figure               */
/* -------------------- */
figure {
  margin: 1.5rem auto;
  text-align: center;
}

figure img {
  max-width: 100%;
  margin: 0.5rem auto;
}

figure figcaption {
  margin: 0.5rem auto;
  width: 90%;
  font-size: 90%;
  break-inside: avoid;
}

figure img[src$=".png"],
figure img[src$=".jpg"],
figure img[src$=".jpeg"],
figure img[src$=".gif"],
figure img[src$=".webp"] {
  image-resolution: 200dpi;
}

img {
  max-width: 100%;
}

/* -------------------- */
/* table                */
/* -------------------- */
table {
  display: table;
  max-width: 100%;
  margin: 1.5rem auto;
  border-color: currentColor;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.25rem 1rem 0.25rem 0;
  background-color: transparent;
  border: 0;
}

table th:first-child,
table td:first-child {
  padding-left: 1rem;
}

table th {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

table tr {
  box-shadow: 0 0.7px 0 -0.3px currentColor;
}

table tr:last-child {
  border-bottom: 1px solid;
}

/* -------------------- */
/* quote                */
/* -------------------- */
blockquote {
  margin: 1.5rem 0.5rem;
  background-color: #ecf0f1;
  padding: 1em 1em;
  border-radius: 0.2rem;
}

blockquote :not(pre) > code {
  padding: 0;
  word-break: break-all;
}

/* -------------------- */
/* pre/code             */
/* -------------------- */
/* inline code */
:not(pre) > code {
  font-family: "Consolas", "メイリオ", "Meiryo", "MS Gothic", monospace,
    sans-serif;
  padding: 2pt;
  margin-top: 20pt;
  background-color: #eee;
  font-size: 1rem;
  white-space: pre-wrap;
}
/* code block */
pre code {
  font-family: "Consolas", "メイリオ", "Meiryo", "MS Gothic", monospace,
    sans-serif;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 0.5;
}

/* -------------------- */
/* note                 */
/* -------------------- */
div.note {
  margin-top: 20pt;
  margin-bottom: 20pt;
}
div.note_content {
  margin: 0pt;
  padding-top: 12pt;
  padding-left: 12pt;
  padding-right: 12pt;
  padding-bottom: 5pt;
  display: block;
  background: #eeeeee;
}
div.note_title {
  margin: 0pt;
  padding-top: 3pt;
  padding-bottom: 3pt;
  padding-left: 10pt;
  padding-right: 10pt;
  background: #bbbbbb;
  font-family: "游ゴシック", "YuGothic", sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
}
div.note li p {
  margin: 0pt;
}

/* -------------------- */
/* styling              */
/* -------------------- */
.page-break {
  page-break-after: always !important;
}

body {
  counter-reset: section subsection fig tbl footnote cite;
}

/* Section */
section {
  counter-increment: section;
  counter-reset: subsection;
}

section article {
  counter-increment: subsection;
}

/* figure */
figure img.fig {
  counter-increment: fig;
}

figure img.fig ~ figcaption::before {
  content: "Fig. " counter(fig) ": ";
}

:root:lang(ja) figure img.fig ~ figcaption::before {
  content: "図" counter(fig) ": ";
}

/* footnote */
.footnote {
  counter-increment: footnote;
}

.footnote::footnote-call,
.footnote::footnote-marker {
  content: "[" counter(footnote) "]";
}

.footnote::footnote-call {
  font-size: 80%;
  margin: 0 0.3rem;
}

.footnote::footnote-marker {
  margin-right: 0.2rem;
}

/* -------------------- */
/* Page settings        */
/* https://www.quackit.com/css/at-rules/css_top-center_at-rule.cfm */
/* -------------------- */
@page {
  font-family: "遊ゴシック", "YuGothic", sans-serif; /* header or footer font */
  size: 182mm 257mm;
  margin-top: 8%;
  margin-bottom: 6%;
  margin-left: 10%;
  margin-right: 10%;
  @top-left-corner {
    background-color: #333333;
    color: #fafafa;
    content: "";
    margin-bottom: 7mm;
    margin-top: -3mm;
    margin-left: -3mm;
  }
  @top-center {
    content: env(pub-title) " - " env(doc-title);
    font-size: 0.8rem;
    background-color: #333333;
    color: #fafafa;
    margin-top: -3mm;
    margin-left: -1mm;
    margin-right: -1mm;
    margin-bottom: 7mm;
    padding-top: 0mm;
    padding-left: 2mm;
    padding-right: 1mm;
    padding-bottom: 0mm;
    text-align: left;
  }
  @top-right-corner {
    background-color: #333333;
    color: #fafafa;
    content: "";
    margin-bottom: 7mm;
    margin-top: -3mm;
    margin-right: -3mm;
  }
  @bottom-center {
    border-top: 1px;
    border-color: #333333;
    content: counter(page);
    font-size: 0.8rem;
  }
  @bottom-left-corner {
    content: "";
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-left: -3mm;
    background-color: #fafafa;
    z-index: 1000;
  }
  @bottom-right-corner {
    content: "";
    margin-top: -8mm;
    margin-bottom: -3mm;
    margin-right: -3mm;
    background-color: #fafafa;
    z-index: 1000;
  }
}

@page :first {
  margin-left: 8%;
  margin-right: 8%;
  @top-left-corner {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right-corner {
    content: none;
  }
  @bottom-center {
    content: none;
  }
  @bottom-left-corner {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
  @bottom-right-corner {
    content: none;
  }
}

/* -------------------- */
/* Role settings        */
/* -------------------- */
/* doc-cover */
[role="doc-cover"] {
  break-after: page;
  margin-top: 10%;
  text-align: center;
}

[role="doc-cover"] #cover-title {
  color: #fafafa;
  background-color: #333333;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
[role="doc-cover"] h1 {
  font-size: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
[role="doc-cover"] #cover-author {
  text-align: center;
  margin-top: 40%;
}

/* doc-introduction */
[role="doc-introduction"] {
  break-after: page;
}

/* doc-toc */
[role="doc-toc"] {
  margin-top: 10%;
  font-size: 1.2rem;
}
[role="doc-toc"] h2 {
  font-size: 2.5rem;
}
[role="doc-toc"] li a::after {
  content: target-counter(attr(href), page);
}
[role="doc-toc"] li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  align-items: baseline;
}
[role="doc-toc"] li a::before {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: solid 1px;
  content: "";
  order: 1;
  flex: auto;
}
[role="doc-toc"] li a::after {
  text-align: right;
  content: target-counter(attr(href), page);
  align-self: flex-end;
  flex: none;
  order: 2;
}

/* doc-part */
[role="doc-part"] {
  background-color: #333333;
  color: #fafafa;
  margin-right: -30%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  margin-top: 40%;
}

[role="doc-part"] h1 {
  margin-right: 20%;
  font-size: 3.5rem;
}

[role="doc-part"] p {
  margin-right: 20%;
}

/* doc-chapter */
[role="doc-chapter"] {
}
[role="doc-chapter"] h1.doc-chapter {
  font-size: 3rem;
  background-color: #333333;
  color: #fafafa;
  margin-top: -10%;
  padding-top: 4%;
  margin-left: -21%;
  padding-left: 20%;
  margin-right: -21%;
  padding-right: 20%;
  padding-bottom: 2rem;
}

/* doc-endnotes */
[role="doc-endnotes"] {
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}

/* doc-colophon */
#colophon {
  margin-top: 10%;
}
[role="doc-colophon"] {
  position: relative;
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}
[role="doc-colophon"] table {
  margin: 0;
  width: 100%;
  font-size: 100%;
  border-top: 2px solid currentColor;
}
[role="doc-colophon"] table th {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0;
  box-shadow: none;
}
[role="doc-colophon"] table tr {
  border: 0;
  box-shadow: none;
}
[role="doc-colophon"] table tr:last-child {
  border-bottom: 1px solid currentColor;
}
[role="doc-colophon"] table td {
  vertical-align: top;
  padding-left: 0;
}

/* -------------------- */
/* media settings       */
/* -------------------- */
@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 12px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }
  tr,
  th,
  td {
    break-inside: avoid;
  }
  .footnote {
    float: footnote;
    text-align: left;
  }
}

@media screen {
  :root {
    font-family: "游ゴシック", "YuGothic", serif;
  }
  body {
    margin: auto 0rem;
    padding-bottom: 4rem;
  }
  article {
    margin: 0 auto;
    max-width: 60rem;
  }
  section {
    clear: both;
  }
  figure {
    max-width: 50rem;
  }
  .footnote {
    vertical-align: super;
    background-color: rgba(214, 255, 0, 0.4);
    margin: 0 0.1rem;
    line-height: 0;
  }
  .footnote a {
    word-break: break-all;
  }
  a[data-ref="sec"],
  a[data-ref="subsec"],
  a[data-ref="fig"],
  a[data-ref="tbl"],
  a[data-ref="cite"] {
    color: #e74c3c;
    background-color: rgba(255, 0, 0, 0.3);
  }
  a[data-ref="sec"]::before {
    content: "§ XXX";
  }
  a[data-ref="subsec"]::before {
    content: "§ XXX.XXX";
  }
  a[data-ref="fig"]::before {
    content: "Fig. XXX";
  }
  :root:lang(ja) a[data-ref="fig"]::before {
    content: "図 XXX";
  }
  a[data-ref="tbl"]::before {
    content: "Table XXX";
  }
  :root:lang(ja) a[data-ref="tbl"]::before {
    content: "表 XXX";
  }
  a[data-ref="cite"]::before {
    content: "[XXX]";
  }

  [role="doc-part"] {
    margin: 0 0;
  }
  [role="doc-chapter"] h1.doc-chapter {
    margin: 0 0 0 0;
    padding: 3rem 2rem;
  }

  #content {
    box-sizing: border-box;
    margin-left: 300px;
    padding: 20px 40px;
    max-width: 900px;
  }
  /* Side Menu */
  #menu {
    box-sizing: border-box;
    top: 0px;
    height: 100%;
    width: 300px;
    position: fixed;
    overflow: auto;
    color: #fff;
    background: #333333;
    padding: 0px 20px;
    margin-left: 0px;
  }

  #menu a {
    text-decoration: none;
    color: #b4e1ff;
  }

  #menu a:visited {
    color: #c59dd4;
  }

  #menu a:hover {
    text-decoration: underline;
    color: #e74c3c;
  }

  #TableOfContents {
    display: none;
  }
}

/* --------------- */
/* page toc        */
/* --------------- */
@media screen and (min-width: 1590px) and (orientation: landscape) {
  #TableOfContents {
    display: inline;
    position: fixed;
    top: 50px;
    left: 1250px;
    width: 340px;
    font-size: 0.8em;
    border-radius: 0.1em;
    border: solid 1px lightgray;
    background: inherit;
    padding: 0;
  }
  #TableOfContents > ul:before {
    content: "目次";
    font-weight: bolder;
  }
  #TableOfContents h2 {
    background: inherit;
    text-align: inherit;
    border-bottom: 1px #eee solid;
    padding: 10px;
  }
  #TableOfContents ul {
    list-style-type: none;
  }
  #TableOfContents li {
    padding-top: 0;
  }
  #TableOfContents li > ul {
    padding-left: 1em;
  }
  #TableOfContents a {
    font-weight: normal;
    display: block;
    border-bottom: dashed 1px lightgray;
  }
}

/* ----------------------------- */
/* humburger menu (smart device) */
/* ----------------------------- */
@media screen and (max-width: 780px) {
  /* content relocation */
  #content {
    padding: 20px 15px;
    margin-left: 0px;
  }
  #menu {
    height: 0%;
    width: 0%;
  }

  /* humburger buton */
  .humburger-btn {
    position: fixed;
    top: 5px;
    right: 15px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #333333;
  }
  .humburger-btn span,
  .humburger-btn span:before,
  .humburger-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .humburger-btn span:before {
    bottom: 8px;
  }
  .humburger-btn span:after {
    top: 8px;
  }

  /* humburger buton check */
  #humburger-btn-check:checked ~ .humburger-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  #humburger-btn-check:checked ~ .humburger-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #humburger-btn-check:checked ~ .humburger-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  #humburger-btn-check:checked ~ .menu-content {
    left: 0;
  }

  /* humberger menu contents */
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 10px 10px 0;
    top: 0;
    left: 100%;
    z-index: 80;
    transition: all 0.5s;
    background-color: #333333;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .menu-content ul li {
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px 5px 0;
    position: relative;
    border-bottom: dashed 1px lightgray;
  }
}

#humburger-btn-check {
  display: none;
}