@charset "UTF-8";
/* -------------------- */
/* Page settings        */
/* https://www.quackit.com/css/at-rules/css_top-center_at-rule.cfm */
/* -------------------- */
@page {
  @top-center {
    content: '';
  }
  @bottom-center {
    content: '';
  }
}

/* left page */
@page :left {
  font-family: "Segoe UI", "游ゴシック", "YuGothic", sans-serif; /* header or footer font */
  margin-left: 9%;
  margin-right: 11%;
  @top-center {
    content: env(pub-title);
    text-align: left;
  }
  @bottom-left {
    font-size: 0.8rem;
    content: counter(page);
    border-left: 1px solid;
    margin-top: 6mm;
    padding-left: 4mm;
    padding-right: 4mm;
    vertical-align: top;
  }
}

@page :right {
  font-family: "Segoe UI", "游ゴシック", "YuGothic", sans-serif;
  margin-left: 11%;
  margin-right: 9%;
  @top-center {
    content: env(doc-title);
    text-align: right;
  }
  @bottom-right {
    font-size: 0.8rem;
    content: counter(page);
    border-right: 1px solid;
    margin-top: 6mm;
    padding-left: 4mm;
    padding-right: 4mm;
    vertical-align: top;
  }
}

@page :first {
  @bottom-right {
    border-right: none;
  }
}

/* introduction */
div.doc-introduction {
  break-before: right;
}

/* doc-part section title */
div.doc-part {
  break-before: right;
}

/* colophon */
#colophon {
  break-before: left;
}
#colophon-blank {
  break-before: right;
}