<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta data-id="{{ with .File }}{{ .UniqueID }}{{ end }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}">
  <!-- css -->
  {{- /* PDF theme */}}
  {{- range .Site.Params.theme_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}
  {{- /* PDF page style (book / simple) */}}
  {{- $isbook := partial "functions/getRootPDFParam.html" (dict "this" . "pdfparam" "book") }}
  {{- if eq $isbook false }}
  <link rel="stylesheet" href="{{ "/css/page-counter-simple.css" | relURL }}">
  {{- else }}
  <link rel="stylesheet" href="{{ "/css/page-counter-book.css" | relURL }}">
  {{- range .Site.Params.book_css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end}}
  {{- end }}
  {{- /* pdf marks */}}
  {{- $ismarks := partial "functions/getRootPDFParam.html" (dict "this" . "pdfparam" "marks") }}
  {{- if eq $ismarks true }}
  {{- range .Site.Params.marks_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}
  {{- end}}
  {{- /* other css   */}}
  {{- range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}
  {{- range .Site.Params.lang_css }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}
  {{- partial "header.html" . -}}
</head>

<body {{ if .Params.twoColumns }}class="two-columns"{{- end }}>
  {{- if not .Site.Params.isPDF }}
  <input type="checkbox" id="right-accordion-btn-check">
  <label for="right-accordion-btn-check" class="right-accordion-btn"><span></span></label>
  {{- end }}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
