<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}">
  <!-- css -->
  {{- range .Site.Params.theme_css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end -}}
  {{- range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end -}}
  {{- partial "header.html" . -}}
</head>

<body>
  <div id="content">
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{- $content := .Page.Content }}
    {{- if ne .Site.Params.isPDF true }}
    {{- $content = partial "functions/addAnchorNextToHeader" $content }}
    {{- end }}
    {{ $content }}


    <nav id="toc" role="doc-toc">
      <h2>{{ i18n "toc" }}</h2>
      {{ partial "toc.html" . }}
    </nav>
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>
