{{ define "main" }}
{{- if .Params.role }}{{- if eq .Params.role "doc-part" }}<div class="doc-part-blank"></div>{{- end }}<div class="{{ .Params.role }}" role="{{ .Params.role }}">{{- end }}
{{- $sectionNo := partial "functions/getSectionNo" . }}
<h1 id="section-title" {{- if .Params.role }} class="{{ .Params.role }}" {{- end }}>{{ $sectionNo }} {{ .Title }}</h1>
{{- $content := .Page.Content }}
{{- if ne .Site.Params.isPDF true }}
  {{- $content = partial "functions/addAnchorNextToHeader" $content }}
{{- end }}
{{ $content }}
{{- if .Params.role }}</div>{{- end }}
{{ end }}
