{{ define "main" }}
{{- $role := .Params.role | default "doc-chapter" }}
{{- if eq $role "doc-part" }}{{- if eq .Site.Params.isPDF true }}<div class="doc-part-blank"></div>{{- end}}{{- end }}<div class="{{ $role }}" role="{{ $role }}">
{{- $sectionNo := partial "functions/getSectionNo" . }}
<h1 id="section-title" class="{{ $role }}">{{ if $sectionNo }}<span class="section-number">{{ $sectionNo }}</span>{{ end }}<span>{{ .Title }}</span></h1>
{{- $content := .Page.Content }}
{{- if ne .Site.Params.isPDF true }}
  {{- $content = partial "functions/addAnchorNextToHeader" $content }}
{{- end }}
{{ $content }}
</div>
{{ end }}
