<!DOCTYPE html>
<!-- colophon -->

<html lang="{{ .Page.Language | default " en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <!-- css -->
  {{- range .Site.Params.theme_css -}}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end -}}
  {{- $isbook := partial "functions/getRootPDFParam.html" (dict "this" . "pdfparam" "book") }}
  {{- if eq $isbook false }}
  {{- else }}
  {{- range .Site.Params.book_css }}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end }}
  {{- end }}
  {{- $ismarks := partial "functions/getRootPDFParam.html" (dict "this" . "pdfparam" "marks") }}
  {{- if eq $ismarks true }}
  {{- range .Site.Params.marks_css }}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end }}
  {{- end }}
  {{- range .Site.Params.custom_css -}}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end -}}
  {{- range .Site.Params.lang_css -}}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end -}}
</head>

<body>
  <div class="doc-part-blank"></div>
  <div id="vivlio-colophon">
    {{ .Page.Content }}
  </div>
  <div id="vivlio-colophon-blank"></div>
</body>

</html>
