{{ define "main" }}
  {{- $sectionNo := partial "functions/getSectionNo" . }}
  <h1>{{ $sectionNo }} {{ .Title }}</h1>
  {{- $sectionNoRaw := partial "functions/getSectionNoRaw" . }}
  {{- $content := partial "content-with-section.html" (dict "sectionNo" $sectionNoRaw "page" .Page ) }}
  {{- .Scratch.Set "Content" $content }}
  {{- if ne .Site.Params.isPDF true }}
    {{ partial "page-toc.html" $content }}
    {{- $content = partial "functions/addAnchorNextToHeader" $content }}
  {{- end }}
  {{ $content }}
{{ end }}