<!DOCTYPE html>
{{- $title := partial "functions/outputEditionParam" (dict "page" . "param" "doctitle" ) }}
{{- $subtitle := partial "functions/outputEditionParam" (dict "page" . "param" "subtitle" ) }}
{{- $doc_number := partial "functions/outputEditionParam" (dict "page" . "param" "doc_number" ) }}

<html lang="{{ .Page.Language | default "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ $title }}</title>
  {{- range .Site.Params.theme_css }}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end }}
  {{- range .Site.Params.custom_css }}
  {{- $link := printf "..%s" (. | relURL) }}
  <link rel="stylesheet" href="{{ $link }}">
  {{- end }}
</head>

<body>
  <div id="cover" role="doc-cover">
    <div id="cover-title">
      {{- if $doc_number }}<h2>{{ $doc_number}}</h2>{{- end }}
      <h1>{{ $title }}</h1>
      {{- if $subtitle }}<h2>{{ $subtitle }}</h2>{{- end }}
    </div>
    {{- if .Params.author }}<div id="cover-author"><h2>{{ .Params.author }}</h2></div>{{- end }}
    {{- if .Params.company }}<h3>{{ .Params.company }}</h3>{{- end }}
    {{ partial "cover-custom.html" . }}
    {{- $top := partial "functions/outputEditionParam" (dict "page" . "param" "header" ) }}
    {{- $top2 := partial "functions/outputEditionParam" (dict "page" . "param" "header2" ) }}
    {{ with $top }}<div class="cover-top-center">{{ $top }}</div>{{ end }}
    {{ with $top2 }}<div class="cover-top-center2">{{ $top2 }}</div>{{ end }}
    {{- $bottom_left := partial "functions/outputEditionParam" (dict "page" . "param" "footer-left" ) }}
    {{ with $bottom_left }}<div class="cover-bottom-left">{{ $bottom_left }}</div>{{ end }}
    {{- $bottom_center := partial "functions/outputEditionParam" (dict "page" . "param" "footer-center" ) }}
    {{ with $bottom_center }}<div class="cover-bottom-center">{{ $bottom_center }}</div>{{ end }}
    {{- $bottom_right := partial "functions/outputEditionParam" (dict "page" . "param" "footer-right" ) }}
    {{ with $bottom_right }}<div class="cover-bottom-right">{{ $bottom_right }}</div>{{ end }}
  </div>
  {{- /*  introduction  */}}
  {{- if .Page.Content }}
  <div role="doc-introduction" class="doc-introduction">
  {{ .Page.Content }}
  </div>
  {{- end }}


{{- /*  Table of Contents  */}}
{{ $toc := .Params.toc | default true }}
{{- if eq $toc true }}
<nav id="toc" role="doc-toc" class="doc-toc">
<h2>Table of Contents</h2>
{{ partial "toc.html" .CurrentSection }}
</nav>
{{- end }}
</body>
</html>


