{{ define "main" }}
  {{- $sectionNoRaw := partial "functions/getSectionNoRaw" . }}
  {{- $sectionNo := partial "functions/formatSectionNo" (dict "this" . "sectionNoRaw" $sectionNoRaw) }}
  {{- $content := partial "content-with-section.html" (dict "sectionNo" $sectionNoRaw "page" .Page ) }}
  {{- .Scratch.Set "Content" $content }}
  {{- if .Site.Params.isPDF }}
    {{- if $.Site.Params.inPageChapterPDF }}
      {{- $isChapterFirstPage := partial "functions/isChapterFirstPage" (dict "this" . "sectionNoRaw" $sectionNoRaw)}}
      {{- if $isChapterFirstPage }}
        {{- template "inpage-chapter" (dict "page" . "sectionNoRaw" $sectionNoRaw) }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{ partial "page-toc-sidebar.html" (dict "content" $content "page" .Page "this" .) }}
    {{- $content = partial "functions/addAnchorNextToHeader" $content }}
  {{- end }}
  <h1><span class="section-number">{{ $sectionNo }}</span><span>{{ .Title }}</span></h1>
  {{ $content }}
{{ end }}