{{- /* 見出し要素（h2 or h3）を受け取り、pdftocクラスを足して返す */}}
{{- /* in : h2/h3タグ                   ex) <h2 class="hoge" >title</h2> */}}
{{- /* out: pdftocを付加した h2/h3タグ  ex) <h2 class="hoge pdftoc" >title</h2> */}}
{{- if . | findRE `class=".*?pdftoc.*?"`}}
  {{ . | safeHTML }}
{{- else if . | findRE `class=".*?"` }}
  {{ . | replaceRE `(<h[23].*?)class="(.*?)"(.*?>)` `${1}class="${2} pdftoc" ${3}` | safeHTML }}
{{- else }}
  {{ . | replaceRE `(<h[23])(.*?>)` `${1} class="pdftoc" ${2}` | safeHTML }}
{{- end }}
