{{- /* root pdfのパラメータを取得する */}}
{{- /* in : .this, .param */}}
{{- /* out: param value */}}
{{- $thisPage := .this }}
{{- $param := .pdfparam }}
{{- $pdfList := partialCached "functions/getRootPDFList.html" $thisPage }}
{{- $retParam := "" }}
{{- range $pdfList }}
  {{- $pdf := . }}
  {{- if ($pdf.CurrentSection.IsAncestor $thisPage) | or (eq $pdf.CurrentSection $thisPage) }}
    {{- $retParam = $pdf.Param $param }}
  {{- else if in ($thisPage.RelPermalink) ($pdf.RelPermalink | path.Dir)}}
    {{- $retParam = $pdf.Param $param }}
  {{- end }}
{{- end }}
{{- return $retParam }}
