{{ .Scratch.Set "sectionSlice" slice }}
{{- template "section-tree" (dict "section" .Site.Home "current" .) }}

{{- define "section-tree" }}
  {{- $section := .section }}
  {{- $current := .current }}
  {{- $isPDFRoot := false}}
  {{ $i := 0 }}
  {{- range $section.Pages.ByWeight }}
    {{- if (eq .Type "vivlio_config") }}
      {{ $isPDFRoot = true }}
    {{- end }}
    {{- if partial "functions/isShow" . }}
      {{ $i = (add $i 1) }}
      {{ if and (eq . $current) .IsPage }}
        {{ $current.Scratch.Add "sectionSlice" (slice $i) }}
      {{ end }}
    {{ end }}
  {{- end }}
  {{ $no := 0 }}
  {{- range $section.Pages.ByWeight }}
    {{- if partial "functions/isShow" . }}
      {{ $no = (add $no 1) }}
      {{- if and (.IsAncestor $current) (.Page.IsSection) }}
        {{ $sectionNo := $current.Scratch.Get "sectionSlice" }}
        {{ if or $isPDFRoot (len $sectionNo) }}
          {{ $current.Scratch.Add "sectionSlice" (slice $no) }}
        {{ end }}
        {{- template "section-tree" (dict "section" . "current" $current) }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{/*  delimiter  */}}
{{ $delimiter := "." }}
{{ with .Site.Params.sectionDelimiter }}{{ $delimiter =  . }}{{ end }}

{{ $sectionSlice := .Scratch.Get "sectionSlice" }}
{{ $ret := "" }}
{{ if .Site.Params.sectionNumberLevel }}
  {{/*  Level設定より深ければ表示しない  */}}
  {{ if gt (len $sectionSlice) .Site.Params.sectionNumberLevel }}
    {{ $ret = "" }}
  {{/* top level のフォーマット */}}
  {{ else if and (eq (len $sectionSlice) 1) (.Site.Params.sectionTopFormat) }}
    {{ $ret = (printf .Site.Params.sectionTopFormat (index $sectionSlice 0)) }}
  {{/* 通常のフォーマット */}}
  {{ else }}
    {{ $ret = delimit $sectionSlice $delimiter }}
  {{ end }}
{{ end }}

{{ return $ret }}
