{{- /* SecitonNoを取得する。実際の処理はgetSectionNoRawに移譲 */}}
{{- /* in : Page */}}
{{- /* out: string章節番号 ex) 1.2.1, 1章(トップレベルかつフォーマット指定時) */}}
{{ $delimiter := .Site.Params.sectionDelimiter | default "." }}
{{- $sectionNo := partial "functions/getSectionNoRaw" . }}
{{- $sectionNoLevel := .Site.Params.sectionNumberLevel }}
{{- $pdfSpecifiedLevel := partial "functions/getRootPDFParam.html" (dict "this" . "pdfparam" "sectionNumberLevel") }}
{{- with $pdfSpecifiedLevel }}{{ $sectionNoLevel = $pdfSpecifiedLevel }}{{ end }}
{{- if or ($sectionNoLevel) (eq $sectionNoLevel 0) }}
  {{- /*  Level設定より深ければ表示しない  */}}
  {{- if gt (len (split $sectionNo $delimiter)) $sectionNoLevel }}
    {{ $sectionNo = "" }}
  {{- end }}
{{- end }}
{{- $ret := "" }}
{{- if and (eq (len (split $sectionNo $delimiter)) 1) (.Site.Params.sectionTopFormat) }}
  {{- if ne $sectionNo "" }}
    {{- $ret = (printf .Site.Params.sectionTopFormat $sectionNo) }}
  {{- end }}
{{- else }}
  {{- $ret = $sectionNo }}
{{- end }}
{{ return $ret }}
