{{/* Return whether to display page/section  */}}

{{ $page := . }}
{{ $ret := false }}

{{ if $page.Params.ShowIf }}
  {{ range .Site.Params.showIfs }}
    {{ $showIf := . }}

    {{ if eq $showIf "@all-pages" }}
      {{ $ret = true }}
    {{ end }}

    {{ range $page.Params.ShowIf }}
      {{ if eq $showIf . }}
        {{ $ret = true }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ if .Site.Params.only_showIfs }}
    {{ $ret = false }}
  {{ else }}
    {{ $ret = true }}
  {{ end }}
{{ end }}

{{ return $ret }}