{{/* Return whether to display page / section  */}}

{{ $page := . }}
{{ $ret := false }}

{{ if $page.Params.ShowIf }}
  {{ range .Site.Params.showIfs }}
    {{ $showIf := . }}

    {{ if eq $showIf "@all-pages" }}
      {{ $ret = true }}
    {{ end }}

    {{ range $page.Params.ShowIf }}
      {{ if eq $showIf . }}
        {{ $ret = true }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $ret = true }}
{{ end }}

{{ if or (or (eq $page.Type "vivlio_colophon") (eq $page.Type "vivlio_cover")) (eq $page.Type "vivlio_config") }}
  {{ $ret = false }}
{{ end }}

{{ return $ret }}