{{/* Return whether to display page / section  */}}

{{ $page := . }}
{{ $ret := false }}

{{ if $page.Params.ShowIf }}
  {{ range .Site.Params.showIfs }}
    {{ $showIf := . }}

    {{ if eq $showIf "@all-pages" }}
      {{ $ret = true }}
    {{ end }}

    {{ range $page.Params.ShowIf }}
      {{ if eq $showIf . }}
        {{ $ret = true }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $ret = true }}
{{ end }}

{{ if $page.Params.HideIf }}
  {{ range .Site.Params.showIfs }}
    {{ $hideIf := . }}
    {{ range $page.Params.HideIf }}
      {{ if eq $hideIf . }}
        {{ $ret = false }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if or (or ($page.OutputFormats.Get "vivlio_colophon") ($page.OutputFormats.Get "vivlio_cover")) ($page.OutputFormats.Get "vivlio_config") }}
  {{ $ret = false }}
{{ end }}

{{ return $ret }}