{{- /* ------------------
content-with-section.html
記事自体のsectionNoにsectionNumberLevelまでsectionNoを付加して出力する。
h2/h3タグが対象。.Page.Content の代わりに使用する。
------------------- */}}
{{- $section := .sectionNo }}
{{- $page := .page }}
{{- $d := $page.Site.Params.sectionDelimiter | default "." }}
{{- $pageLevel := (len (split $section $d)) }}
{{- $settingLevel := $page.Site.Params.sectionNumberLevel | default 0 }}
{{- $content := $page.Content }}

{{- /* pageLevel < settingLevel の場合h2に章番号を付加 */}}
{{- if and (lt $pageLevel $settingLevel) ($section) }}
  {{- $h2List := findRE "<h2.*?>(.|\n)*?</h2>" $content }}
  {{- $i := 0 }}
  {{- range $h2List }}
    {{- $i = add $i 1 }}
    {{- $h2section := (printf "%s%s%d" $section $d $i) }}
    {{- $h2replaced := . | replaceRE "(<h2.*?>)((.|\n)*?</h2>)" (printf "${1}%s ${2}" $h2section) }}
    {{- $h2replaced = partial "functions/addPdftoc" $h2replaced }}
    {{- $content = (replace $content . $h2replaced) | safeHTML }}
    {{- if lt (add $pageLevel 1) $settingLevel }}
      {{- /* h2 - Next h2/EOF までの間にある h3 について章番号付加 */}}
      {{- /* h2replacedをfindREに渡すと[a-1]などが正規表現と解釈されエラー。回避のため <h2 xx> タグだけ使用 */}}
      {{- $current_h2Tag := index (findRE "<h2.*?>" $h2replaced) 0 }}
      {{- $h2content := $content | findRE (printf "%s(.|\n)*?(<h2.*?>|\\z)" $current_h2Tag) }}
      {{- $h3List := findRE "<h3.*?>(.|\n)*?</h3>" (index $h2content 0) }}
      {{- $j := 0 }}
      {{- range $h3List }}
        {{- $j = add $j 1 }}
        {{- $h3section := (printf "%s%s%d" $h2section $d $j) }}
        {{- $h3replaced := . | replaceRE "(<h3.*?>)((.|\n)*?</h3>)" (printf "${1}%s ${2}" $h3section) }}
        {{- $h3replaced = partial "functions/addPdftoc" $h3replaced }}
        {{- $content = (replace $content . $h3replaced) | safeHTML }}
      {{- end }}
      {{- /*  {{- partial "log" (printf "%s" $h2content)}}  */}}
    {{- end }}
  {{- end }}
{{- end }}
{{ $content }}

