{{- /* ------------------
footer.html
記事のフッター。bodyの一番下に展開される。
主にscript読み込み。
------------------- */}}
{{- if ne .Site.Params.isPDF true }}
{{- $menuscroll := resources.Get "js/menuscroll.js" | resources.Minify -}}
<script src="{{$menuscroll.RelPermalink }}"></script>
{{- if .Site.Params.copyClipboard }}
  {{- if (findRE "<pre" .Content 1) }}
    {{- $copyclip := resources.Get "js/copyclipboard.js" | resources.Minify }}
<script src="{{$copyclip.RelPermalink }}"></script>
    {{- end }}
  {{- end }}
{{- end }}

{{- /* PDF化時にフォーマット崩れを防ぐため事前レンダリングするscriptはここに記載する */}}
{{- if .Params.math | or (.Page.Scratch.Get "use_mathjax") | or .Params.mermaid | or (.Page.Scratch.Get "use_mermaid") }}
<div id="pre_rendering_type_js">
{{- /* Mathjax */}}
{{- if .Params.math | or (.Page.Scratch.Get "use_mathjax") }}
  {{- if .Site.Params.isPDF}}<span class="@pre_rendering_type_js"></span>{{ end }}
  <script>
    MathJax = {
      options: { enableMenu: false},
      tex: {
        {{- if .Params.math}}inlineMath: [['$', '$']],{{end}}
        displayMath: [['$$', '$$']]
      },
      svg: {fontCache: 'none'}
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-svg.js"></script>
{{- end }}
{{- /* Mermaid */}}
{{- with .Params.mermaid | or (.Page.Scratch.Get "use_mermaid") }}
  {{- if $.Site.Params.isPDF }}<span class=""@pre_rendering_type_js></span>{{ end }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad: true});</script>
{{- end }}
{{- if .Site.Params.isPDF }}
  <script>
    const pre_rendering_type_js = document.getElementById("pre_rendering_type_js");
    pre_rendering_type_js.remove();
  </script>
{{- end }}
</div>
{{- end }}


{{ partial "custom-footer.html" . }}
