<nav class="menu">
  <h2>MENU</h2>
  {{- template "menu-tree" (dict "section" .Site.Home "current" .) }}

  {{- define "menu-tree" }}
  {{- $section := .section }}
  {{- $current := .current }}
  <ul>
    {{- range $section.Sections.ByWeight }}
    <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
      {{- if .IsAncestor $current }}
      {{- template "menu-tree" (dict "section" . "current" $current) }}{{- end }}{{- end }}
      {{- range $section.RegularPages }}
    <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
    {{- end }}
  </ul>
  {{- end }}
</nav>
