<nav id="menu-navigation">
  {{- template "menu-tree" (dict "section" .Site.Home "current" .) }}
</nav>

{{- define "menu-tree" }}
{{- $section := .section }}
{{- $current := .current }}
<ul>
  {{- range $section.Pages.ByWeight }}
  {{- if partial "functions/isShow" . }}
  {{- $sectionNo := partial "functions/getSectionNo" . }}
  {{- if (.Page.IsSection) }}
  <details>
    <summary><a href="{{ .RelPermalink }}" id="{{ with .File }}{{ .UniqueID }}{{ end }}">{{ $sectionNo}} {{ .Title }}</a></summary>
    {{- template "menu-tree" (dict "section" . "current" $current) }}
  </details>
  {{- else}}
  <li><a href="{{ .RelPermalink }}" id="{{ with .File }}{{ .UniqueID }}{{ end }}">{{ $sectionNo}} {{ .Title }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
</ul>
{{- end }}
