{{- /* ------------------
menu-footer.html
メニューのフッター。
言語セレクタなどメニューの共通項目を指定
------------------- */}}
<hr>
{{- /* language selector */}}
{{- $isHome := .IsHome }}
{{ if .Site.IsMultiLingual }}
<div class="language-selector">
<details class="select-language"><summary>Languages</summary>
{{- $siteLanguages := .Site.Languages}}
{{- $pageLanguages := .Page.AllTranslations}}
{{- range $siteLanguages }}
{{- $oneLang := .}}
{{- range $pageLanguages }}
{{- $onePageLang := .}}
{{- if eq $onePageLang.Lang $oneLang.Lang }}
{{- if $isHome }}
<div class="one-language"><a href="{{ $onePageLang.RelPermalink }}index.html">{{ $oneLang.LanguageName }}</a></div>
{{- else }}
<div class="one-language"><a href="{{ $onePageLang.RelPermalink }}">{{ $oneLang.LanguageName }}</a></div>
{{- end }}
{{- end}}
{{- end }}
{{- end }}
</details>
</div>
{{- end}}

{{- /*  tags  */}}
{{- range $name, $taxonomy := .Site.Taxonomies }}
{{- if $taxonomy }}
<div class="menu-footer">
  <a href="{{- with ($.Site.GetPage (printf "/%s" $name)) }}{{ .RelPermalink }}{{ end}}">{{ $name }}</a>
</div>
{{- end }}
{{- end }}

{{ partial "menu-footer-custom.html" . }}

{{- /*  space  */}}
<hr>
<div class="menu-footer-space"></div>
{{ partial "menu-footer-previewpanel.html" . }}