<aside id="menu">
  <input type="checkbox" id="humburger-btn-check">
  <label for="humburger-btn-check" class="humburger-btn"><span></span></label>
  <div class="menu-content">
    <section id="menu-header">
      {{ partial "menu-header.html" . }}
    </section>
    <h4><a href="{{ .Site.Home.Permalink }}">{{ .Site.Home.Title }}</a></h4>
    {{- template "menu-tree" (dict "section" .Site.Home "current" .) }}

    {{- define "menu-tree" }}
    {{- $section := .section }}
    {{- $current := .current }}
    {{- if ne $current.Site.Params.flat_toc true }}
    <ul>
    {{- end }}
      {{- range $section.Sections.ByWeight }}
        {{- if partial "functions/isShow" . }}
      <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
          {{- if .IsAncestor $current }}
            {{- template "menu-tree" (dict "section" . "current" $current) }}
          {{- end }}
        {{- else }}
        {{- if $current.Site.Params.only_showIfs }}{{- template "menu-tree" (dict "section" . "current" $current) }}{{ end }}
        {{- end }}
      {{- end }}

      {{- range $section.RegularPages }}
        {{- if partial "functions/isShow" . }}
      <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
        {{- end }}
      {{- end }}
    {{- if ne $current.Site.Params.flat_toc true }}
    </ul>
    {{- end }}
    {{- end }}
    <section id="menu-footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</aside>
