<aside id="menu">
  <input type="checkbox" id="humburger-btn-check">
  <label for="humburger-btn-check" class="humburger-btn"><span></span></label>
  <div class="menu-content">
    <h2>MENU</h2>
    {{- template "menu-tree" (dict "section" .Site.Home "current" .) }}

    {{- define "menu-tree" }}
    {{- $section := .section }}
    {{- $current := .current }}
    <ul>
      {{- range $section.Sections.ByWeight }}
        {{- if partial "functions/isShow" . }}
      <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
          {{- if .IsAncestor $current }}
            {{- template "menu-tree" (dict "section" . "current" $current) }}
          {{- end }}
        {{- end }}
      {{- end }}

      {{- range $section.RegularPages }}
        {{- if partial "functions/isShow" . }}
      <li><a href="{{ .RelPermalink }}" class="{{ if (eq . $current) }}menu-selected{{ end }}">{{ .Title }}</a>
        {{- end }}
      {{- end }}
    </ul>
    {{- end }}

    <hr>

    {{- range $name, $taxonomy := .Site.Taxonomies }}
    {{- if $taxonomy }}
      <a href="{{- with ($.Site.GetPage (printf "/%s" $name)) }}{{ .RelPermalink }}{{ end}}">{{ $name }}</a>
      {{- end }}
    {{- end }}
  </div>
</aside>
