{{- /* ------------------
page-toc-sidebar.html
記事の右側に表示されるページ内TOC
------------------- */}}
{{- $Content := .content -}}
{{- $Page := .page -}}
{{- $this := .this }}
{{- /* (?:.|\n) : 後方参照不要なグループ化 . or \n */ -}}
{{- $pattern := `<h([23]).*?id="(.+?)".*?>((?:.|\n)*?)</h[23]>` -}}
{{- $headers := findRE $pattern $Content -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "prev_level" 0 -}}
<nav id="TableOfContents-sidebar">
    {{- partial "edit-this-page.html" $this }}
    {{- with $Page.Params.tags }}
    <div class="taglist">
      {{- range $Page.Params.tags }}
      <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}.html">{{- . }}</a></li>
      {{- end }}
    </div>
    {{- end }}
    <ul>
        {{- range $headers -}}
            {{- $level := . | replaceRE $pattern `$1` -}}
            {{- $id := . | replaceRE $pattern `$2` -}}
            {{- $header := . | replaceRE $pattern `$3` | safeHTML -}}
            {{- $header = partial "functions/removeTag" $header }}
            {{- /*  {{- partial "log" (printf "%s" $header ) }}  */}}
            {{- $prev_level := $scratch.Get "prev_level" -}}
            {{- if eq $level `2` -}}
                {{- if eq $prev_level `2` -}}
                    </details>
                {{- else if eq $prev_level `3` -}}
                    </ul>
                </details>
                {{- end -}}
                {{- if . | findRE "class=.*?pdftoc.*?" }}
                <details open><summary><a href="#{{ $id }}" class="pdftoc">{{ $header }}</a></summary>
                {{- else }}
                <details open>
                    <summary><a href="#{{ $id }}">{{ $header }}</a></summary>
                {{- end }}
            {{- else if eq $level `3` -}}
                {{- if eq $prev_level `2` -}}
                    <ul>
                {{- else if eq $prev_level 0 -}}
                    <li><ul>
                {{- end -}}
                {{- if . | findRE "class=.*?pdftoc.*?" }}
                <li><a href="#{{ $id }}" class="pdftoc">{{ $header }}</a></li>
                {{- else }}
                <li><a href="#{{ $id }}">{{ $header }}</a></li>
                {{- end }}
            {{- end -}}
            {{- $scratch.Set "prev_level" $level -}}
        {{- end -}}

        {{- $prev_level := $scratch.Get "prev_level" -}}
        {{- if eq $prev_level `2` -}}
        </details>
        {{- else if eq $prev_level `3` -}}
            </ul>
        </details>
        {{- end -}}
    </ul>
</nav>