{{- $csv := .csv }}
{{- $head := .head }}
{{- $scratch := .scratch }}
{{- $align_list := slice }}
{{- $code_count := 0 }}
{{- $baseAlign := $scratch.Get "baseBodyAlign"}}
{{- with $baseAlign }}{{- $code_count = add $code_count 1 }}{{end}}
{{- range $rowIndex, $rowData := $csv }}
  {{- if eq $rowIndex (sub $head 1) }}
    {{- range $i, $cell := $rowData }}
      {{- if (findRE ".*\\[\\[.*@:-+:.*\\]\\]" $cell 1) }}
        {{- $code_count = add $code_count 1 }}
        {{- $align_list = $align_list | append "center" }}
      {{- else if (findRE ".*\\[\\[.*@-+:.*\\]\\]" $cell 1) }}
        {{- $code_count = add $code_count 1 }}
        {{- $align_list = $align_list | append "right" }}
      {{- else if (findRE ".*\\[\\[.*@:-+[^:]*.*\\]\\]" $cell 1)}}
        {{- $code_count = add $code_count 1 }}
        {{- $align_list = $align_list | append "left" }}
      {{- else if (findRE ".*\\[\\[.*@align *= *([^ ]+).*\\]\\]" $cell 1) }}
        {{- $code_count = add $code_count 1 }}
        {{- $align := $cell | replaceRE ".*\\[\\[.*@align *= *([^ ]+).*\\]\\]" "${1}" }}
        {{- $align = trim $align "\"'"}}
        {{- $align_list = $align_list | append $align }}
      {{- else}}
        {{- if $baseAlign }}
          {{- $align_list = $align_list | append $baseAlign }}
        {{- else }}
          {{- $align_list = $align_list | append "left" }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if eq $code_count 0 }}{{ $align_list = slice }}{{ end }}

{{- return $align_list }}