{{- $page := .page }}
{{- $csvpath := .csvpath }}
{{- $class := .class }}
{{- $width := .width }}
{{- $head := .head }}
{{- $width_list := .width_list }}
{{- $markdown := .markdown }}
{{- $isMerge := .isMerge }}
{{- $columns := .columns }}

{{- $csv := getCSV "," $csvpath }}
{{- with $columns }}
  {{- $csv = partial "csv/get-selected-columns-csv.html" (dict "csv" $csv "columns" . )}}
{{- end }}
{{- $mergeMask := partial "csv/get-csv-merge-mask.html" $csv }}
{{- partial "logtrace" (printf "mask: %s" $mergeMask) }}

<table {{ with $class }}class="{{ $class }}"{{ end }} {{with $width}}width="{{ $width }}"{{ end }}>
  {{ if $head }}<thead>{{ else }}<tbody>{{ end }}
  {{- range $rowIndex, $rowData := $csv }}
    {{- if eq $rowIndex 0 }}
      {{- /* 1行目 */}}
      <tr>
      {{- if $head}}
        {{- range $columnIndex, $cell := $rowData}}
          <th style="text-align: left; {{ with index $width_list $columnIndex }}width: {{ index $width_list $columnIndex }};{{ end }}">{{if $markdown}}{{ $cell | $page.RenderString }}{{ else }}{{ $cell }}{{ end }}</th>
        {{- end }}
      {{- else }}
        {{- range $columnIndex, $cell := $rowData}}
          {{- $span := index (index $mergeMask $rowIndex) $columnIndex }}
          {{- if (ne $span "0") | or (eq $isMerge false) }}
            <td style="{{ with index $width_list $columnIndex }}width: {{ index $width_list $columnIndex }};{{ end }}" {{ if $isMerge }}rowspan="{{ $span }}"{{ end }}>{{if $markdown}}{{ $cell | $page.RenderString }}{{ else }}{{ $cell }}{{ end }}</td>
          {{- end }}
        {{- end }}
      {{- end }}
      </tr>
  {{ if $head }}</thead>{{ end }}
  {{ if $head}}<tbody>{{ end }}
    {{- else }}
      {{- /*  2行目以降  */}}
      <tr>
      {{- range $columnIndex, $cell := $rowData}}
        {{- /*  $spanは結合セル数。0の場合上のセルによる結合対象セルなので描画しない  */}}
        {{- $span := index (index $mergeMask $rowIndex) $columnIndex }}
        {{- if (ne $span "0") | or (eq $isMerge false) }}
          <td {{ if $isMerge }}rowspan="{{ $span }}"{{ end }}>{{if $markdown}}{{ $cell | $page.RenderString }}{{ else }}{{ $cell }}{{ end }}</td>
        {{- end }}
      {{- end }}
      </tr>
    {{- end }}
  {{- end }}
  </tbody>
</table>
