{{- $page := .page }}
{{- $scratch := .scratch }}
{{- $csv := .csv }}
{{- $head := .head }}
{{- $width_list := .width_list }}
{{- $align_list := .align_list }}
{{- $markdown := .markdown }}
{{- $mergeMaskV := .mergeMaskV }}
{{- $mergeMaskH := .mergeMaskH }}
{{- $useColumnCode := .useColumnCode }}
{{- /* columnIdを先に取得する（columnId行より上の行にもcolumnIdを適用するため  */}}
{{- $columnIds := slice }}
{{- if $useColumnCode }}
  {{- $columnId_row := (index $csv (sub $head 1)) }}
    {{- range $i, $cell := $columnId_row }}
      {{- $columnId := partial "csv/get-column-id.html" (dict "row" $columnId_row "index" $i) }}
      {{- $columnIds = $columnIds | append $columnId }}
    {{- end }}
{{- end }}
<thead>
{{- range $rowIndex, $rowData := $csv }}
  {{- if lt $rowIndex $head }}
<tr>
{{- range $i, $cell := $rowData }}
  {{- $column_no := add $i 1 }}
  {{- $columnId := "" }}
  {{- /* column codeを利用する場合  */}}
  {{- if $useColumnCode }}
    {{- $columnId = (index $columnIds $i) }}
    {{- if eq $rowIndex (sub $head 1) }}
      {{ $cell = partial "csv/trim-column-id.html" $cell }}
    {{- end}}
  {{- end}}
  {{- /*  $spanは結合セル数。0の場合上のセルによる結合対象セルなので描画しない  */}}
  {{- $rowspan := index (index $mergeMaskV $rowIndex) $i }}
  {{- $colspan := index (index $mergeMaskH $rowIndex) $i }}
  {{- if ((ne $rowspan "0") | and (ne $colspan "0")) }}
{{ partial "csv/render-table-headercell.html"
  (dict "page" $page
        "scratch" $scratch
        "cell" $cell
        "colNo" $column_no
        "columnId" $columnId
        "width" (index $width_list $i)
        "align" (index $align_list $i)
        "colspan" $colspan
        "rowspan" $rowspan
        "markdown" $markdown) }}
  {{- end }}
{{- end }}
</tr>
  {{- end }}
{{- end }}
</thead>