{{- $page := .page }}
{{- $scratch := .scratch }}
{{- $csv := .csv }}
{{- $head := .head }}
{{- $width_list := .width_list }}
{{- $align_list := .align_list }}
{{- $markdown := .markdown }}
{{- $mergeMaskV := .mergeMaskV }}
{{- $mergeMaskH := .mergeMaskH }}
{{- $useColumnCode := .useColumnCode }}
<tbody>
{{- $columnIds := slice }}
{{- range $rowIndex, $rowData := $csv }}
  {{- /* column codeを利用する場合 header最終行からcolumnIdsを取得  */}}
  {{- if $useColumnCode }}
    {{- if eq $rowIndex (sub $head 1) }}
      {{- range $i, $cell := $rowData }}
        {{- $columnId := partial "csv/get-column-id.html" (dict "row" $rowData "index" $i) }}
        {{- $columnIds = $columnIds | append $columnId }}
      {{- end }}
      {{- partial "logdebug" (printf "[render-table-body]columnIds(%d): %s" (len $columnIds) $columnIds)}}
    {{- end }}
  {{- end }}

  {{- if ge $rowIndex $head }}
    {{- $row_no := sub $rowIndex (sub $head 1) }}
<tr>
    {{- range $i, $cell := $rowData }}
      {{- $column_no := add $i 1 }}
      {{- /*  $spanは結合セル数。0の場合上のセルによる結合対象セルなので描画しない  */}}
      {{- $rowspan := index (index $mergeMaskV $rowIndex) $i }}
      {{- $colspan := index (index $mergeMaskH $rowIndex) $i }}
      {{- if ((ne $rowspan "0") | and (ne $colspan "0") ) }}
{{ partial "csv/render-table-bodycell.html"
    (dict "page" $page
          "scratch" $scratch
          "cell" $cell
          "columnId" (index $columnIds $i)
          "width" (index $width_list $i)
          "align" (index $align_list $i)
          "colspan" $colspan
          "rowspan" $rowspan
          "rowNo" $row_no
          "colNo" $column_no
          "markdown" $markdown) }}
      {{- end }}
    {{- end }}
</tr>
  {{- end }}
{{- end }}
</tbody>