{{- $source := .Get 0 }}
{{- $srcName := .Get "src" }}
{{- with $srcName }}{{ $source = $srcName }}{{ end }}
{{- $key := .Get 1 }}
{{- $keyName := .Get "key" }}
{{- with $keyName }}{{ $key = $keyName }}{{ end }}
{{- $column := .Get 2 }}
{{- $columnName := .Get "column" }}
{{- with $columnName }}{{ $column = $columnName }}{{ end }}
{{- $markdown := .Get "markdown" | default true }}
{{- $isEmptyMerge := .Get "merge" | default false }}
{{- $class := .Get "class" | default "gray" }}
{{- $head := .Get "head" | default true }}
{{- $width := .Get "width" | default "*" }}
{{- $width_list := split (replace ( .Get "width-ratio" | default "*" ) "*" "auto" ) "-" }}
{{- $columns := .Get "columns" }}
{{- $trimId := .Get "trim-id" | default false }}

{{- $isMD := strings.HasSuffix $source "md" }}
{{- $isCSV := strings.HasSuffix $source "csv" }}
{{- if $isMD }}
  {{- /* markdown 相対パスもしくは_includeフォルダ。画像リンクはassetsフォルダに配置したもののみ相対パス記述可能 */}}
  {{- $mdpath := (path.Join $.Page.File.Dir $source) }}
  {{- if or (fileExists $mdpath ) ( or (hasPrefix $source "./" ) (hasPrefix $source "../" ) )}}
  {{- else }}
    {{- $mdpath = print "_include/" $source }}
  {{- end }}
  {{- $page := .Site.GetPage $mdpath }}
  {{- with $page }}
    {{- $mdURL := printf "/%s/%s" .Site.Language.Lang $mdpath | path.Dir}}
    {{- $content := (replace .Content "<img src=\"assets/" (printf "<img src=\"%s/assets/" $mdURL)) | safeHTML }}
{{ $content }}
  {{- end }}
{{- else if $isCSV}}
  {{- $csvpath := partial "csv/get-csvpath.html" (dict "page" .Page "relPath" $source) }}
  {{- if $key }}
    {{/*  include csv key value  */}}
    {{- partial "csv/render-keyvalue.html" (dict "csvpath" $csvpath "key" $key "column" $column) }}
  {{- else }}
    {{- /* include csv table */}}
    {{- $csv := getCSV "," $csvpath }}
    {{- with $columns }}
      {{- $csv = partial "csv/get-selected-columns-csv.html" (dict "csv" $csv "columns" . )}}
    {{- end }}
    {{- partial "csv/render-table.html" (dict "page" .Page "scratch" .Scratch "csv" $csv "class" $class "width" $width "head" $head "width_list" $width_list "markdown" $markdown "isEmptyMerge" $isEmptyMerge "trimId" $trimId)}}
  {{- end }}
{{- end }}
